**PRIMER GRÁFICO**

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("survey_data_updated.csv")
print("Columnas cargadas:")
print(df.columns)

Columnas cargadas:
Index(['ResponseId', 'MainBranch', 'Age', 'Employment', 'RemoteWork', 'Check',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       ...
       'JobSatPoints_6', 'JobSatPoints_7', 'JobSatPoints_8', 'JobSatPoints_9',
       'JobSatPoints_10', 'JobSatPoints_11', 'SurveyLength', 'SurveyEase',
       'ConvertedCompYearly', 'JobSat'],
      dtype='object', length=114)

In [6]:
print("\nEjemplo de LanguageHaveWorkedWith:")
print(df["LanguageHaveWorkedWith"].head())

Ejemplo de LanguageHaveWorkedWith:
0    Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...
1                                                   C#
2                       HTML/CSS;JavaScript;TypeScript
3                               JavaScript;Python;Ruby
4    C;C#;C++;Delphi;HTML/CSS;Java;JavaScript;Power...
Name: LanguageHaveWorkedWith, dtype: object

In [7]:
df_lang = df["LanguageHaveWorkedWith"].dropna()

# Separar cada fila "Python;Go;Rust" → en múltiples
all_langs = df_lang.str.split(";").explode()

all_langs = all_langs.str.strip()

lang_counts = all_langs.value_counts()

print("\nConteo de lenguajes (Top 20):")
print(lang_counts.head(20))

Conteo de lenguajes (Top 20):
LanguageHaveWorkedWith
JavaScript                 14943
SQL                        12602
HTML/CSS                   12410
TypeScript                 10709
Python                      9590
Bash/Shell (all shells)     7244
C#                          6340
Java                        5982
PHP                         4644
PowerShell                  3438
Go                          3305
C++                         3081
C                           2777
Rust                        2284
Kotlin                      1958
Ruby                        1500
Dart                        1390
Lua                         1160
Visual Basic (.Net)          957
Swift                        898
Name: count, dtype: int64

In [8]:
top10 = lang_counts.head(10)
print("\nTOP 10 lenguajes más usados:")
print(top10)

TOP 10 lenguajes más usados:
LanguageHaveWorkedWith
JavaScript                 14943
SQL                        12602
HTML/CSS                   12410
TypeScript                 10709
Python                      9590
Bash/Shell (all shells)     7244
C#                          6340
Java                        5982
PHP                         4644
PowerShell                  3438
Name: count, dtype: int64

In [9]:
top10.to_csv("top10_languages.csv", header=["Count"])
print("\nArchivo generado: top10_languages.csv")

Archivo generado: top10_languages.csv

**SEGUNDO GRÁFICO**

In [10]:
# Asegurar que no haya valores nulos
df['DatabaseHaveWorkedWith'] = df['DatabaseHaveWorkedWith'].fillna("")

# Separar los valores múltiples
df_exploded = (
    df.assign(DatabaseHaveWorkedWith = df['DatabaseHaveWorkedWith'].str.split(';'))
      .explode('DatabaseHaveWorkedWith')
)

# Eliminar espacios sobrantes
df_exploded['DatabaseHaveWorkedWith'] = df_exploded['DatabaseHaveWorkedWith'].str.strip()

# Eliminar vacíos
df_exploded = df_exploded[df_exploded['DatabaseHaveWorkedWith'] != ""]

# Contar apariciones
db_counts = df_exploded['DatabaseHaveWorkedWith'].value_counts().head(10)

# Convertir a DataFrame
df_db_top10 = db_counts.reset_index()
df_db_top10.columns = ['database', 'count']

# Guardar archivo para Cognos
df_db_top10.to_csv("top10_databases.csv", index=False)

df_db_top10

               database  count
0            PostgreSQL  11514
1                 MySQL   8556
2                SQLite   7021
3               MongoDB   5930
4  Microsoft SQL Server   5870
5                 Redis   5814
6               MariaDB   3994
7         Elasticsearch   3491
8              Dynamodb   2268
9                Oracle   1907

**Tercer Gráfico**

In [11]:
# Asegurar que no haya valores nulos
df['PlatformHaveWorkedWith'] = df['PlatformHaveWorkedWith'].fillna("")

# Separar los valores múltiples
df_exploded = (
    df.assign(PlatformHaveWorkedWith = df['PlatformHaveWorkedWith'].str.split(';'))
      .explode('PlatformHaveWorkedWith')
)

# Eliminar espacios sobrantes
df_exploded['PlatformHaveWorkedWith'] = df_exploded['PlatformHaveWorkedWith'].str.strip()

# Eliminar vacíos
df_exploded = df_exploded[df_exploded['PlatformHaveWorkedWith'] != ""]

# Contar apariciones
platform_counts = df_exploded['PlatformHaveWorkedWith'].value_counts().head(10)

# Convertir a DataFrame
df_platform_top10 = platform_counts.reset_index()
df_platform_top10.columns = ['platform', 'count']

# Guardar archivo para Cognos
df_platform_top10.to_csv("top10_platforms.csv", index=False)

df_platform_top10

                    platform  count
0  Amazon Web Services (AWS)  10871
1            Microsoft Azure   6681
2               Google Cloud   5537
3                 Cloudflare   3874
4              Digital Ocean   3170
5                   Firebase   3025
6                     Vercel   2875
7                     Heroku   2002
8                    Netlify   1662
9                    Hetzner   1392

**Cuarto Gráfico**

In [12]:
# Asegurar que no haya valores nulos
df['WebframeHaveWorkedWith'] = df['WebframeHaveWorkedWith'].fillna("")

# Separar los valores múltiples
df_exploded = (
    df.assign(WebframeHaveWorkedWith = df['WebframeHaveWorkedWith'].str.split(';'))
      .explode('WebframeHaveWorkedWith')
)

# Eliminar espacios sobrantes
df_exploded['WebframeHaveWorkedWith'] = df_exploded['WebframeHaveWorkedWith'].str.strip()

# Eliminar vacíos
df_exploded = df_exploded[df_exploded['WebframeHaveWorkedWith'] != ""]

# Contar apariciones
webframe_counts = df_exploded['WebframeHaveWorkedWith'].value_counts().head(10)

# Convertir a DataFrame
df_webframe_top10 = webframe_counts.reset_index()
df_webframe_top10.columns = ['webframe', 'count']

# Guardar archivo para Cognos
df_webframe_top10.to_csv("top10_webframes.csv", index=False)

df_webframe_top10

       webframe  count
0       Node.js   9230
1         React   8999
2        jQuery   4810
3       Express   4408
4       Next.js   4399
5  ASP.NET CORE   4319
6       Angular   4038
7        Vue.js   3642
8       ASP.NET   3094
9   Spring Boot   2916