In [1]:
import pandas as pd

# Cargar el archivo actualizado
df = pd.read_csv("survey_data_updated.csv")

df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor's degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master's degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
2,10,I am a developer by profession,35-44 years old,"Independent contractor, freelancer, or self-em...",Remote,Apples,Bootstrapping a business,"Master's degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
3,11,"I used to be a developer by profession, but no...",35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects,"Bachelor's degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Books;Written Tutorial...,...,25.0,10.0,0.0,15.0,0.0,0.0,Appropriate in length,Easy,NaN,8.0
4,12,I am a developer by profession,45-54 years old,"Employed, full-time",In-person,Apples,Hobby;School or academic work,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)","Books / Physical media;School (i.e., Universit...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN,NaN

In [2]:
def top10_multivalue(df, column_name, output_filename):
    """
    Procesa una columna multivaluada separada por ';' y genera un Top 10.
    Guarda un CSV listo para usar en IBM Cognos.
    """

    # Asegurar que no haya valores nulos
    df[column_name] = df[column_name].fillna("")

    # Separar valores múltiples
    df_exploded = (
        df.assign(**{column_name: df[column_name].str.split(';')})
          .explode(column_name)
    )

    # Eliminar espacios
    df_exploded[column_name] = df_exploded[column_name].str.strip()

    # Quitar vacíos
    df_exploded = df_exploded[df_exploded[column_name] != ""]

    # Contar ocurrencias
    counts = df_exploded[column_name].value_counts().head(10)

    # Convertir a DF
    result = counts.reset_index()
    result.columns = [column_name, "count"]

    # Guardar CSV para Cognos
    result.to_csv(output_filename, index=False)

    return result

In [3]:
df_top10_lang_want = top10_multivalue(
    df,
    "LanguageWantToWorkWith",
    "top10_LanguageWantToWorkWith.csv"
)

df_top10_lang_want

    LanguageWantToWorkWith  count
0               JavaScript  11541
1                      SQL  10944
2               TypeScript  10437
3                 HTML/CSS  10016
4                   Python   8919
5                       Go   5661
6                     Rust   5597
7                       C#   5590
8  Bash/Shell (all shells)   5582
9                     Java   4048

In [4]:
df_top10_db_want = top10_multivalue(
    df,
    "DatabaseWantToWorkWith",
    "top10_DatabaseWantToWorkWith.csv"
)

df_top10_db_want

  DatabaseWantToWorkWith  count
0             PostgreSQL  12193
1                  Redis   6384
2                 SQLite   6295
3                  MySQL   6204
4                MongoDB   5618
5   Microsoft SQL Server   4345
6          Elasticsearch   3665
7                MariaDB   3078
8               Dynamodb   2154
9               Supabase   1623

In [5]:
df_top10_platform_want = top10_multivalue(
    df,
    "PlatformWantToWorkWith",
    "top10_PlatformWantToWorkWith.csv"
)

df_top10_platform_want

      PlatformWantToWorkWith  count
0  Amazon Web Services (AWS)  10516
1            Microsoft Azure   6380
2               Google Cloud   5431
3                 Cloudflare   4219
4              Digital Ocean   2908
5                     Vercel   2776
6                   Firebase   2720
7                    Hetzner   1577
8                   Supabase   1368
9                    Netlify   1267

In [6]:
df_top10_webframe_want = top10_multivalue(
    df,
    "WebframeWantToWorkWith",
    "top10_WebframeWantToWorkWith.csv"
)

df_top10_webframe_want

  WebframeWantToWorkWith  count
0                  React   8223
1                Node.js   8096
2                Next.js   4458
3           ASP.NET CORE   4166
4                 Vue.js   3903
5                Angular   3309
6                Express   3216
7                FastAPI   2823
8            Spring Boot   2674
9                 Svelte   2559