In [1]:
import pandas as pd

df = pd.read_csv("survey_data_updated.csv")
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor's degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master's degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
2,10,I am a developer by profession,35-44 years old,"Independent contractor, freelancer, or self-em...",Remote,Apples,Bootstrapping a business,"Master's degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
3,11,"I used to be a developer by profession, but no...",35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects,"Bachelor's degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Books;Written Tutorial...,...,25.0,10.0,0.0,15.0,0.0,0.0,Appropriate in length,Easy,NaN,8.0
4,12,I am a developer by profession,45-54 years old,"Employed, full-time",In-person,Apples,Hobby;School or academic work,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)","Books / Physical media;School (i.e., Universit...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN,NaN

In [2]:
# Quitar nulos
df_age = df['Age'].fillna("No especificado")

# Contar ocurrencias
age_counts = df_age.value_counts().reset_index()
age_counts.columns = ["Age", "count"]

# Guardar CSV
age_counts.to_csv("demografia_age_distribution.csv", index=False)

age_counts

                  Age  count
0     25-34 years old   7788
1     35-44 years old   5149
2     18-24 years old   2988
3     45-54 years old   2053
4     55-64 years old    632
5  Under 18 years old    136
6   65 years or older     75
7   Prefer not to say     24

In [3]:
# Llenar vacíos
df_country = df['Country'].fillna("No especificado")

country_counts = df_country.value_counts().reset_index()
country_counts.columns = ["Country", "count"]

country_counts.to_csv("demografia_country_counts.csv", index=False)

country_counts

                                               Country  count
0                             United States of America   3441
1                                              Germany   1339
2                                                India   1316
3    United Kingdom of Great Britain and Northern I...   1053
4                                              Ukraine    931
..                                                 ...    ...
156                                  Brunei Darussalam      1
157                                             Guyana      1
158                                               Mali      1
159                                         Cape Verde      1
160                                           Barbados      1

[161 rows x 2 columns]

In [4]:
df_ed = df['EdLevel'].fillna("No especificado")

education_counts = df_ed.value_counts().reset_index()
education_counts.columns = ["EdLevel", "count"]

education_counts.to_csv("demografia_education_distribution.csv", index=False)

education_counts

                                             EdLevel  count
0       Bachelor's degree (B.A., B.S., B.Eng., etc.)   8629
1    Master's degree (M.A., M.S., M.Eng., MBA, etc.)   5000
2  Some college/university study without earning ...   2456
3  Secondary school (e.g. American high school, G...   1143
4     Professional degree (JD, MD, Ph.D, Ed.D, etc.)    661
5                Associate degree (A.A., A.S., etc.)    634
6                                     Something else    190
7                          Primary/elementary school    132

In [5]:
df_age_ed = df[['Age', 'EdLevel']].copy()

df_age_ed['Age'] = df_age_ed['Age'].fillna("No especificado")
df_age_ed['EdLevel'] = df_age_ed['EdLevel'].fillna("No especificado")

# Conteo combinado
age_ed_counts = (
    df_age_ed
    .groupby(['Age', 'EdLevel'])
    .size()
    .reset_index(name='count')
)

age_ed_counts.to_csv("demografia_age_by_education.csv", index=False)

age_ed_counts

,Age,EdLevel,count
0,18-24 years old,"Associate degree (A.A., A.S., etc.)",132
1,18-24 years old,"Bachelor's degree (B.A., B.S., B.Eng., etc.)",1468
2,18-24 years old,"Master's degree (M.A., M.S., M.Eng., MBA, etc.)",299
3,18-24 years old,Primary/elementary school,25
4,18-24 years old,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",20
...,...,...,...
56,Under 18 years old,Primary/elementary school,38
57,Under 18 years old,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",2
58,Under 18 years old,"Secondary school (e.g. American high school, G...",73
59,Under 18 years old,Some college/university study without earning ...,10
60,Under 18 years old,Something else,7